  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="compiler" href="/tabs/compiler">
        <ion-icon aria-hidden="true" name="code-outline" />
        <ion-label>{{ 'tabs.compiler' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="compilations" href="/tabs/compilations">
        <ion-icon aria-hidden="true" name="folder-outline" />
        <ion-label>{{ 'tabs.savedCompilations' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
