<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'compilationsPage.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!filteredCompilations" class="ion-text-center">
    <ion-spinner name="bubbles"></ion-spinner>
    <p>{{ 'shared.loading' | translate }}</p>
  </div>

  <ng-container *ngIf="filteredCompilations">
    <div class="filter-header">
      <ion-searchbar
        placeholder="{{ 'compilationsPage.search' | translate }}"
        (ionInput)="onSearchChange($event)"
        debounce="300"
        clearInput
        style="flex: 1;"
      ></ion-searchbar>

      <ion-select
        [(ngModel)]="selectedLanguage"
        (ionChange)="onLanguageChange($event)"
        placeholder="Select Language"
        interface="popover"
        style="width: 20%;"
      >
        <ion-select-option *ngFor="let lang of languages" [value]="lang">
          {{ lang ?? 'compilationsPage.languageAll' | translate  }}
        </ion-select-option>
      </ion-select>
    </div>
    
    <ion-list *ngIf="filteredCompilations && filteredCompilations.length > 0; else emptyState">
      <ion-item 
        *ngFor="let compilation of filteredCompilations" 
        (click)="navigateToDetail(compilation.id)"
        lines="full"
      >
        <ion-label>
          <h2>{{ compilation.title }}</h2>
          <p>{{ compilation.timestamp | date:'dd. MM. yyyy HH:mm' }}</p>
          <p>{{ compilation.request.language }}</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  
    <ng-template #emptyState>
      <div class="empty-state ion-text-center ion-padding">
        <ion-icon name="document-outline" size="large"></ion-icon>
        <p>{{ 'compilationsPage.noCompilations' | translate }}</p>
      </div>
    </ng-template>
  </ng-container>
</ion-content>