<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ 'compilerPage.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">{{ 'shared.code' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="request.code" name="code" required rows="10" wrap="off"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">{{ 'shared.language' | translate }}</ion-label>
      <ion-select [(ngModel)]="request.language" name="language" placeholder="Select Language" required>
        <ion-select-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">{{ 'shared.input' | translate }}</ion-label>
      <ion-input [(ngModel)]="request.input" name="input"></ion-input>
    </ion-item>
    
    <div class="ion-text-center ion-margin-top">
      <ion-button
        type="submit"
        expand="block"
        color="primary"
        [disabled]="isBusy"
        class="compile-button"
      >
        <ion-label class="compile-button-text">
          <ion-spinner *ngIf="isBusy" slot="start" style="margin-right: 8px;"></ion-spinner>
          {{ 'compilerPage.button' | translate }}
        </ion-label>
      </ion-button>
    </div>
  </form>
</ion-content>