.compile-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.compile-button-text {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
}