.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.input-title {
    flex-grow: 1;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.scrollable-container {
  max-height: 225px;
  overflow: auto;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.custom-item {
    overflow-x: auto;
    margin: 1rem 0;
}