.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.input-title {
    flex-grow: 1;
}

.button-wrapper {
    display: flex;
    align-items: center;
}